.close {
  top: 10px;
  left: 10px;
}

.menu {
  width: 300px;
}

.menuTitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  user-select: none;
  gap: 30px;
}

.menuTitleText {
  margin-top: 20px;
}