.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dialogContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.formLabel {
  display: flex;
  align-items: center;
}

.formLabelTextField {
  margin-left: 10px;
}
