.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dialogContent {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}

.dialogIcon {
  color: #ff9800 !important;
  font-size: 50px !important;
}

.formLabel {
  display: flex;
  align-items: center;
}

.formLabelTextField {
  margin-left: 10px;
}
