.form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 80px;
  flex-direction: row;
  align-items: flex-start;
}

.buttonCreateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
